* {
    margin: 0;
    font-weight: 100;
    border: 0;
}

.btn {
    background-color: rgb(114 118 224);
    color: white;
    border: rgb(114, 114, 114) 1px solid;
    border-radius: 5px;
    min-width: 80px;
    min-height: 35px;
    font-size: medium;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(65 71 210);
}

.btn-s {
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
    min-width: 50px;
    min-height: 25px;
    font-size: medium;
    transition: .3s;
    cursor: pointer;
    float: right;
    margin-right: 5px;
}

.btn-s:hover {
    background-color: rgb(78, 78, 78);
    color: white;
}

.main-container {
    min-width: 1000px;
    max-width: 70%;
    margin: 60px auto;
    border-radius: 5px;
}

.origin {
    margin: 5px;
}

.origin label {
    display: inline-block;
    height: 60px;
    vertical-align: middle;
    width: 100px;
    text-align: center;
}

.origin textarea {
    width: 500px;
    display: inline;
}

.main-body {
}

.main-step {
    counter-reset: item -1;
    margin-bottom: 8px;
}

.top-fixed {
    width: 100%;
    position: fixed;
    top: 0;
}

.main-menu {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 10px;
}

.main-menu label {
    background-color: white;
}

.main-print {
    width: 100%;
    height: 600px;
    background-color: rgb(29, 29, 29);
    top: 0;
    z-index: -1;
    border: none;
    color: white;
    border-radius: 10px;
}

.params {
    margin-top: 7px;
}

.params>* {
    margin-left: 5px;
    font-size: 14px;
}
.step-hug .step {
    height: 21px;
}
.step {
    padding: 5px 9px;
    border: rgb(165, 165, 165) 1px solid;
    counter-increment: item;
    transition: .3s;
    cursor: pointer;
    height: 64px;
    border-radius: 10px;
    margin: 1px auto;
    background-color: white;
    box-shadow: #828282 0 0 10px;
    overflow: hidden;
    margin-top: 3px;
}
.main-step .step{
    animation: step-show .5s linear;
}
@keyframes step-show {
    0% {
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: white;
    }
    20% {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(212 214 255);
    }
    80% {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(212 214 255);
    }
    100% {
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: white;
    }
}

.step:before {
    content: counter(item)".";
    left: 12px;
    top: 0;
    font-weight: bold;
}
.step .btn-s{
    display: none;
}

.step:hover > button{
    display: block;
}
.step:hover {
    border: rgb(186, 196, 255) 1px solid;
    background-color: rgb(235, 235, 235);
}
.description {
    font-weight: bold;
}

textarea {
    display: block;
    margin: 0 auto;
    resize: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: #d0d0d0;
    outline: none;
    background-color: #fbfbfb;
}

select, input {
    border: rgb(165, 165, 165) 1px solid;
    outline: none;
    height: 25px;
    min-width: 100px;
    border-radius: 4px;
    vertical-align: middle;
    margin-bottom: 3px;
}

input {
    height: 22px;
}

.input-error {
    background-color: #ffecec;
    border-color: #ff7a7a;
}

.pop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pop-main {
    background-color: white;
    position: relative;
    width: 750px;
    margin: 0 auto;
    border: rgb(165, 165, 165) 1px solid;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10%;
    box-shadow: black 0 0 20px;
}

.pop-back {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

.pop-head {
    font-size: large;
    height: 40px;
    line-height: 35px;
}

.pop-close {
    background-color: rgb(243, 94, 94);
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    float: right;
    transition: 0.3s;
}

.pop-close:hover {
    transform: rotate(180deg);
}

.pop-body {
    border-top: rgb(165, 165, 165) 1px solid;
}

.pop-bottom {
    height: 50px;
    color: white;
    margin: 10px 50px 8px 50px;
}

.pop-cancel, .pop-confirm {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.pop-cancel:hover {
    background-color: rgb(194, 58, 58);
}

.pop-confirm:hover {
    background-color: rgb(78, 82, 221);
}

.pop-cancel {
    background-color: rgb(202, 94, 94);
    float: left;
    display: inline;
}

.pop-confirm {
    background-color: rgb(114, 118, 224);
    float: right;
    display: inline;
}

.hugpop {
    width: 300px;
    height: 80px;
    box-shadow: rgb(70, 70, 70) 0 0 20px;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 10px;
    text-align: center;
    animation: hugpop 2s linear;
    overflow: hidden;
    background-color: white;
}

@keyframes hugpop {
    0% {
        opacity: 1;
        width: 0px;
    }
    5% {
        opacity: 1;
        width: 300px;
    }
    90% {
        opacity: 1;
        width: 300px;
    }
    100% {
        opacity: 0;
        width: 0px;
    }
}

.hugpop-result {
    width: 80px;
    height: 80px;
    float: left;
}

.hugpop-suc {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 141, 7);
    border-radius: 10px 0 0 10px;
    color: white;
}

.hugpop-suc::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 15px;
    height: 30px;
    border-bottom: solid 3px white;
    border-right: solid 3px white;
    transform: rotate(45deg);
    margin: 0 auto;
    margin-top: 15px;
}

.hugpop-err {
    width: 100%;
    height: 100%;
    background-color: rgb(143, 5, 0);
    border-radius: 10px 0 0 10px;
    color: white;
}

.hugpop-err::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-bottom: solid 3px white;
    border-right: solid 3px white;
    transform: rotate(45deg);
    margin: 0 auto;
    margin-top: 19px;
}

.hugpop-err::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-top: solid 3px white;
    border-left: solid 3px white;
    transform: rotate(45deg);
    margin: 0 auto;
    margin-top: 40px;
}

.hugpop-desc {
    width: 220px;
    height: 80px;
    line-height: 80px;
    float: left;
    background-color: white;
    border-radius: 0 10px 10px 0;
}

.setting div {
    width: 100%;
    height: 40px;
    vertical-align: middle;
    margin-top: 2px;
}

.setting label {
    text-align: right;
    min-width: 25%;
    display: inline-block;
    margin-right: 10px;
}

.configs-show {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
}